In [2]:
import pandas as pd

In [3]:
file = pd.read_csv("results.csv")

In [5]:
file.head()

,Unnamed: 0,date_name,local_team_id,local_team,local_result,visitor_result,visitor_team,visitor_team_id
0,0,Nacional 1976 - Grupo C,1,All Boys,2,0,Aldosivi,0
1,1,Nacional 1976 - Grupo C,0,Aldosivi,4,0,All Boys,1
2,2,Superliga 2019/20 - Fecha 2,0,Aldosivi,0,0,Argentinos,7
3,3,Superliga 2018/19 - Fecha 15,7,Argentinos,1,2,Aldosivi,0
4,4,Torneo 2016 - Fecha 2,0,Aldosivi,3,2,Argentinos,7

In [10]:
file.columns

Index(['Unnamed: 0', 'date_name', 'local_team_id', 'local_team',
       'local_result', 'visitor_result', 'visitor_team', 'visitor_team_id'],
      dtype='object')

In [35]:
df = file.drop(columns=['Unnamed: 0', "local_team_id", "visitor_team_id"])

In [42]:
## filter => boca juniors
dropped_list = file.drop(columns=['Unnamed: 0', "local_team_id", "visitor_team_id"])
list_boca = dropped_list[dropped_list["local_team"]== "Boca Juniors"]

In [34]:
## mayor goleada de Boca de local
mayor_goleada_boca_local = list_boca.sort_values(by=["local_result"], ascending=False).head(1)
mayor_goleada_boca_local

,date_name,local_team,local_result,visitor_result,visitor_team
10970,Campeonato 1942 - Fecha 8,Boca Juniors,11,1,Tigre

In [41]:
## mayor goleada de Boca de visitante
list_boca_visitante = df[df["visitor_team"] == "Boca Juniors"]
list_boca_visitante.sort_values(by=["visitor_result"], ascending=False).head(4)

,date_name,local_team,local_result,visitor_result,visitor_team
8750,Metropolitano 1972 - Fecha 5,Estudiantes (LP),1,7,Boca Juniors
9099,Campeonato 1954 - Fecha 30,Gimnasia (LP),1,7,Boca Juniors
301,Metropolitano 1973 - Fecha 19,All Boys,1,7,Boca Juniors
10628,Torneo Apertura 2006 - Fecha 4,San Lorenzo,1,7,Boca Juniors